@font-face {
    font-family: 'panton_blackregular';
    src: url('../fonts/panton-black-webfont.woff2') format('woff2'),
    url('../fonts/panton-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue-webfont.woff2') format('woff2'),
    url('../fonts/bebasneue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    color: #271e39;
    background-color: #f3f1e5;
    margin: 0px;
    font-family: 'panton_blackregular';
}

h3 {
    color: #bd194c;
    text-align: center;
}

ul {
    font-family: 'bebas_neueregular';
    font-size: 14pt;
    color: #bd194c;
}

ul li:nth-child(1){
    list-style-image:url('location_small.png');
}
ul li:nth-child(2){
    list-style-image:url('phone_red_small.png');
}
ul li:nth-child(3){
    list-style-image:url('envelope_small.png');
}
ul li:nth-child(4){
    list-style-image:url('facebook_small.png')
}

.content {
    padding: 30px 0;
}

.words {
    padding: 50px 0;
}

/* NAV BAR AND FOOTER */
#nav {
    position: relative;
    display: block;
    width: auto;
    height: 9%;
    padding: 10px 0;
    background: white;
    text-align:center
}

#nav_items {
    position: relative;
    display: block;
    width: 80%;
    height: 100%;
    float: right;
    right: 2vw;
}

.nav_item{
    float:left;
    width: 20%;
    height: 50%;
    top: 0%;
    font-family: 'panton_blackregular';
    font-size: 23pt;
    padding: 10px 0;
    color: darkblue;
    background: white;
    border:1pt hidden;
    border-radius: 3px;
}

#pic{
    position: relative;
    height: 100%;
    float: left;
    bottom: 2.5%;
    top: 2.5%;
    left: 1.5vw;
}

#nav_divider{
    display: block;
    border-style: solid;
    border-width: 20px;
    border-top:0;
}

#footer {
    position: relative;
    display: block;
    width: auto;
    height: 20%;
    padding: 10px 0;
    background: white;
    text-align:center
}

#footer_items{
    float:left;
    margin-left:5%;
    width: 95%;
    height: 100%;
    font-family: 'panton_blackregular';
    font-size: 19pt;
    color: darkblue;
    background: white;
    border:1pt hidden;
}

#footer_item1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
    float: left;
}

#footer_item2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    float: left;
}

#footer_item3{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    width: 30%;
    height: 100%;
    float: left;
}

.footer_pic{
    position: relative;
    height: 80%;
    float: left;
}

.vertical_line{
    float: left;
    border-left: 6px solid darkblue;
    height: 80%;
}

.divider{
    display: block;
    border-style: solid;
    border-width: 10px;
    border-top:0;
}